/* font.css */

/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font default */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #0f172a;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  font-weight: normal;
}

b {
  font-weight: bold;
}

button, input, textarea {
  font-family: Arial, sans-serif;
}