/* font.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font default */
body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #0f172a;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

b {
  font-weight: 600;
}

button, input, textarea {
  font-family: 'Inter', Arial, sans-serif;
}